#contactPage{ 
  color:black;
}

#contactForm {
  width: fit-content;
  margin: auto;
}

#contactForm input {
  margin: auto;
  min-width: 50%;
}

#contactForm select {
  margin: auto;
  max-width: 260px;
}

#contactForm label {
  margin: auto;
  margin-top: 10px;
}

#contactForm section {
  display: flex;
  flex-direction: column;
}
#contactForm textarea {
  margin: auto;
  max-width: 500px;
  height: fit-content;
}
#contactForm .errorMsg{
  color:#960200;
}