.link {
  margin: 4px;
  padding: 2px;
  border: solid black 2px;
  color: #fefffe;
  height: fit-content;
  border-radius: 20%;
  background-color: #241e4e;
}

nav {
  display: flex;
  position: sticky;
  height: 2rem;

  justify-content: space-around;
  width: 100%;
  top: 0;
}
